/* /Pages/Conversation/Test.razor.rz.scp.css */
body[b-nakby9ody7] {
    padding: 5%;
    background-color: #F5F5F5;
}

.container[b-nakby9ody7] {
    padding: 0;
    background-color: #FFF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 700px;
}

/* ===== MENU ===== */
.menu[b-nakby9ody7] {
    float: left;
    height: 700px;
    ;
    width: 70px;
    background: #4768b5;
    background: -webkit-linear-gradient(#4768b5, #35488e);
    background: -o-linear-gradient(#4768b5, #35488e);
    background: -moz-linear-gradient(#4768b5, #35488e);
    background: linear-gradient(#4768b5, #35488e);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

    .menu .items[b-nakby9ody7] {
        list-style: none;
        margin: auto;
        padding: 0;
    }

        .menu .items .item[b-nakby9ody7] {
            height: 70px;
            border-bottom: 1px solid #6780cc;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #9fb5ef;
            font-size: 17pt;
        }

        .menu .items .item-active[b-nakby9ody7] {
            background-color: #5172c3;
            color: #FFF;
        }

        .menu .items .item:hover[b-nakby9ody7] {
            cursor: pointer;
            background-color: #4f6ebd;
            color: #cfe5ff;
        }

/* === CONVERSATIONS === */

.discussions[b-nakby9ody7] {
    width: 35%;
    height: 700px;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
    overflow: hidden;
    background-color: #87a3ec;
    display: inline-block;
}

    .discussions .discussion[b-nakby9ody7] {
        width: 100%;
        height: 90px;
        background-color: #FAFAFA;
        border-bottom: solid 1px #E0E0E0;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .discussions .search[b-nakby9ody7] {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #E0E0E0;
    }

        .discussions .search .searchbar[b-nakby9ody7] {
            height: 40px;
            background-color: #FFF;
            width: 70%;
            padding: 0 20px;
            border-radius: 50px;
            border: 1px solid #EEEEEE;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

            .discussions .search .searchbar input[b-nakby9ody7] {
                margin-left: 15px;
                height: 38px;
                width: 100%;
                border: none;
                font-family: 'Montserrat', sans-serif;
                ;
            }

            .discussions .search .searchbar *[b-nakby9ody7]::-webkit-input-placeholder {
                color: #E0E0E0;
            }

            .discussions .search .searchbar input *:-moz-placeholder[b-nakby9ody7] {
                color: #E0E0E0;
            }

            .discussions .search .searchbar input *[b-nakby9ody7]::-moz-placeholder {
                color: #E0E0E0;
            }

            .discussions .search .searchbar input *:-ms-input-placeholder[b-nakby9ody7] {
                color: #E0E0E0;
            }

    .discussions .message-active[b-nakby9ody7] {
        width: 98.5%;
        height: 90px;
        background-color: #FFF;
        border-bottom: solid 1px #E0E0E0;
    }

    .discussions .discussion .photo[b-nakby9ody7] {
        margin-left: 20px;
        display: block;
        width: 45px;
        height: 45px;
        background: #E6E7ED;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

.online[b-nakby9ody7] {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}

.desc-contact[b-nakby9ody7] {
    height: 43px;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discussions .discussion .name[b-nakby9ody7] {
    margin: 0 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: #515151;
}

.discussions .discussion .message[b-nakby9ody7] {
    margin: 6px 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 9pt;
    color: #515151;
}

.timer[b-nakby9ody7] {
    margin-left: 15%;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: #BBB;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
}

.chat[b-nakby9ody7] {
    width: calc(65% - 85px);
}

.header-chat[b-nakby9ody7] {
    background-color: #FFF;
    height: 90px;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
    display: flex;
    align-items: center;
}

.chat .header-chat .icon[b-nakby9ody7] {
    margin-left: 30px;
    color: #515151;
    font-size: 14pt;
}

.chat .header-chat .name[b-nakby9ody7] {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: #515151;
}

.chat .header-chat .right[b-nakby9ody7] {
    position: absolute;
    right: 40px;
}

.chat .messages-chat[b-nakby9ody7] {
    padding: 25px 35px;
}

    .chat .messages-chat .message[b-nakby9ody7] {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

        .chat .messages-chat .message .photo[b-nakby9ody7] {
            display: block;
            width: 45px;
            height: 45px;
            background: #E6E7ED;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

    .chat .messages-chat .text[b-nakby9ody7] {
        margin: 0 35px;
        background-color: #f6f6f6;
        padding: 15px;
        border-radius: 12px;
    }

.text-only[b-nakby9ody7] {
    margin-left: 45px;
}

.time[b-nakby9ody7] {
    font-size: 10px;
    color: lightgrey;
    margin-bottom: 10px;
    margin-left: 85px;
}

.response-time[b-nakby9ody7] {
    float: right;
    margin-right: 40px !important;
}

.response[b-nakby9ody7] {
    float: right;
    margin-right: 0px !important;
    margin-left: auto; /* flexbox alignment rule */
}

    .response .text[b-nakby9ody7] {
        background-color: #e3effd !important;
    }

.footer-chat[b-nakby9ody7] {
    width: calc(65% - 66px);
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    border-top: 2px solid #EEE;
}

.chat .footer-chat .icon[b-nakby9ody7] {
    margin-left: 30px;
    color: #C0C0C0;
    font-size: 14pt;
}

.chat .footer-chat .send[b-nakby9ody7] {
    color: #fff;
    background-color: #4f6ebd;
    position: absolute;
    right: 50px;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
}

.chat .footer-chat .name[b-nakby9ody7] {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: #515151;
}

.chat .footer-chat .right[b-nakby9ody7] {
    position: absolute;
    right: 40px;
}

.write-message[b-nakby9ody7] {
    border: none !important;
    width: 60%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
}

.footer-chat *[b-nakby9ody7]::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.footer-chat input *:-moz-placeholder[b-nakby9ody7] {
    color: #C0C0C0;
    font-size: 13pt;
}

.footer-chat input *[b-nakby9ody7]::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left: 5px;
}

.footer-chat input *:-ms-input-placeholder[b-nakby9ody7] {
    color: #C0C0C0;
    font-size: 13pt;
}

.clickable[b-nakby9ody7] {
    cursor: pointer;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-m2x9k7tqnm] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-m2x9k7tqnm] {
    flex: 1;
}

.sidebar[b-m2x9k7tqnm] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-m2x9k7tqnm] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-m2x9k7tqnm]  a, .top-row[b-m2x9k7tqnm]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-m2x9k7tqnm]  a:hover, .top-row[b-m2x9k7tqnm]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-m2x9k7tqnm]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-m2x9k7tqnm] {
        display: none;
    }

    .top-row.auth[b-m2x9k7tqnm] {
        justify-content: space-between;
    }

    .top-row[b-m2x9k7tqnm]  a, .top-row[b-m2x9k7tqnm]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-m2x9k7tqnm] {
        flex-direction: row;
    }

    .sidebar[b-m2x9k7tqnm] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-m2x9k7tqnm] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-m2x9k7tqnm]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-m2x9k7tqnm], article[b-m2x9k7tqnm] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7ef5csgf4j] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7ef5csgf4j] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7ef5csgf4j] {
    font-size: 1.1rem;
}

.oi[b-7ef5csgf4j] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7ef5csgf4j] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7ef5csgf4j] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7ef5csgf4j] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7ef5csgf4j]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-7ef5csgf4j]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-7ef5csgf4j]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7ef5csgf4j] {
        display: none;
    }

    .collapse[b-7ef5csgf4j] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-7ef5csgf4j] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
