@page "/signin"
@using MarketplaceBlazor.DtoModels
@inject HttpClient Client
@inject NavigationManager NavigationManager



    <div class="d-flex justify-content-center" style="flex-wrap:wrap;">
        <div class="form-group row g-3 col-md-5" style="border-radius: 25px;
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 0 0rem 3rem rgba(8,7,16,0.6)!important;">

            <EditForm Model="@_userDto" OnValidSubmit="@LoginUser" >
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <h1 class="col-12" style="text-align:center">Sign In </h1>

                <label for="username">Userame:</label>
                <InputText placeholder="Username" id="username" class="form-control" @bind-Value="@_userDto.Username" />

                <label for="password">Password:</label>
                <InputText placeholder="Password" id="Passwordassword" class="form-control" @bind-Value="@_userDto.Password" />
            
                <br/>
                <button type="submit" class="btn btn-primary">Register</button>
                <br/><br/>
         

            </EditForm>
        </div>
    </div>



@code {

    private readonly UserDto _userDto = new();
    
    public async Task LoginUser()
    {
        
    }

}